/Test Sample.xlsx
/Test Sample with proba of default.xlsx
/Краткий отчёт о проделанной работе.docx
/Абрамчук ИС тестовое задание Finstar 12082021.rar
/Абрамчук ИС тестовое задание Finstar 12082021
/catboost_info
/.gitigonre
